*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle

app/src/release/res/values/google_maps_api.xml
app/src/debug/res/values/google_maps_api.xml
